anyio==3.5.0
asgiref==3.5.0
atomicwrites==1.4.0
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
-e git+https://github.com/Katerina676/fastapi_api.git@4e99916b8d9cabc921848c63d4c8c459b6b765e1#egg=fast_api_app
fastapi==0.75.0
greenlet==1.1.2
h11==0.13.0
idna==3.3
iniconfig==1.1.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pydantic==1.9.0
pyparsing==3.0.7
pytest==7.1.1
requests==2.27.1
sniffio==1.2.0
SQLAlchemy==1.4.32
starlette==0.17.1
tomli==2.0.1
typing_extensions==4.1.1
unicorn==1.0.3
urllib3==1.26.9
uvicorn==0.17.6
